.fursonas-gallery {
  position: relative;
}
.fursonas-gallery::before {
  content: "";
  background: url("./media/Background\ haotic\ texture.png");
  background-size: 20%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.04;
}

.fursonas-gallery .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 17px;
  margin-top: 16px;
}

.furry-card {
  position: relative;
  width: 154px;
  height: 207px;
  background-color: var(--accent-color);
  border-radius: 10px;
}
.furry-card__image {
  width: 100%;
  height: 80%;
  background-image: url("https://loremflickr.com/154/174");
  border-radius: 10px;
}
.furry-card__title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  font-size: 14px;
  font-weight: 600;
}
